<?xml version="1.0"?>
<config>
    <modules>
        <Mym_Giftwrapper>
            <version>1.0.0</version>
        </Mym_Giftwrapper>
    </modules>   
	<frontend>
		 <routers>
            <giftwrapper>
                <use>standard</use>
                <args>
                    <module>Mym_Giftwrapper</module>
                    <frontName>giftwrapper</frontName>
                </args>
            </giftwrapper>
        </routers>
        <layout>
            <updates>
                <giftwrapper>
                    <file>giftwrapper.xml</file>
                </giftwrapper>
            </updates>
        </layout>
    </frontend>
	<adminhtml>
        <layout>
            <updates>
                <giftwrapper>
                    <file>giftwrapper.xml</file>
                </giftwrapper>
            </updates>
        </layout>		
    </adminhtml>
	
	<global>
        <default>
            <sales>
                <totals_sort>
                 	<giftwrapper>15</giftwrapper>
               </totals_sort>
          </sales>
        </default>		
		<sales>
			<quote>
				<totals>
					<giftwrapper>
						<class>giftwrapper/sales_quote_address_total_giftwrapper</class>                    
					</giftwrapper>
				</totals>
			</quote>
			<order_invoice>
				<totals>
					<giftwrapper>
						<class>giftwrapper/sales_order_total_invoice_giftwrapper</class>
					</giftwrapper>
				</totals>
			</order_invoice>
		</sales>	
		<fieldsets>
            <sales_convert_quote_address>
                <giftwrapper_charge><to_order>*</to_order></giftwrapper_charge>
                <base_giftwrapper_charge><to_order>*</to_order></base_giftwrapper_charge>
            </sales_convert_quote_address>
        </fieldsets> 
		<models>
            <giftwrapper>
                <class>Mym_Giftwrapper_Model</class>               
            </giftwrapper>            
        </models>	
		<blocks>
            <giftwrapper>
                <class>Mym_Giftwrapper_Block</class>
            </giftwrapper>
        </blocks>
		<helpers>
            <giftwrapper>
                <class>Mym_Giftwrapper_Helper</class>
            </giftwrapper>
        </helpers>
		<resources>
            <giftwrapper_setup>
                <setup>
                    <module>Mym_Giftwrapper</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </giftwrapper_setup>
        </resources>		 
	</global>	
</config>
